/**
* Google Fonts 
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
:root{
    /* font-family: Red Hat Display; */
    --font-family:'Poppins', sans-serif;
    --default-container-size:83.33%; --default-container-size-1366px:90%; --default-container-size-425px:95%;
    --default-margin:0 0 60px 0;

    --a-color:#282627; --a-bgcolor: #FCEB04;  --color-btn:#000;
    --text-d-line:none;
    
    --color-body-bg:#282627;
    --color--primary:#000;
    --color-secondary:#000;
    --color-constant-w:#FFF;
    --color-constant-b:#000;
    --color-yellow:#FCEB04;
}
body{overflow-x: hidden; background-color: var(--color-body-bg);}
*{margin: 0px;padding: 0px; box-sizing:border-box; font-family:var(--font-family);}
a{   
    font-size: 16px;
    font-style: normal;
    letter-spacing: -0.24px;
    color:var(--a-color); text-decoration-line:var(--text-d-line);
    display: flex; justify-content: flex-end; align-items: center; gap: 10px;
}
button{color: var(--color-btn);}

h1,h2,h3,h4,h5,h6,p{ color: var(--color-constant-w);} 

h3{font-size: clamp(30px, 5vw, 88px);}
p{font-size: clamp(14px, 2vw, 16px);}

/* Deault Height and Width Of Containers */
.default-overlay{position: absolute;height: 100%;width: 100%;background-color: rgba(0, 0,0,0.5);z-index: 1;}
.default-popup{ display: none;position: fixed;top: 0; min-height: 100vh;width: 100vw; }
.default-main-container{ margin:var(--default-margin); display: flex; justify-content:center; align-items:center;  width:100%; position:relative;}
.default-container-size{width: var(--default-container-size); }
    @media screen and (max-width:1366px) {.default-container-size{width: var(--default-container-size-1366px);}}
    @media screen and (max-width:550px){.default-container-size{flex-wrap: wrap;}}
    @media screen and (max-width:425px) {.default-container-size{width: var(--default-container-size-425px);}}
/* End Deault Height and Width Of Containers */

