/**
* Google Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');
:root{
    /* Default Font Family */
    --font-family:Inter;

    /* Default Section Margins */
    --default-margin:0 0 120px 0;

    /* Default Site Colors */
    --color-body-bg:#ffffff;
    --a-clr: #FFF;
    --a-bg-clr:#F1A32E;/* Light */
    --a-bg-clr-hov:#E59B2C;/* Hover */

    --sportive-clr1:#041B29;/* Dark */
    --sportive-clr2:#374151;/* Light */

    /* Default Sizes */
    --default-container-size:min(1280px,90vw);
    --default-inner-container:min(800px, 90vw);

    --h1-size: clamp(25px, 3.5vw, 44px);
    --h2-size: clamp(23px, 3vw, 36px);
    --h3-size: clamp(20px, 2.5vw, 24px);
    --h4-size: clamp(18px, 2vw, 20px);
    --h5-size: clamp(25px, 2vw, 44px);
    --h6-size: clamp(25px, 2vw, 44px);

    --a-size:clamp(14px, 2vw, 16px);

    --p1-size: clamp(20px, 2vw, 24px);
    --p1-size: clamp(15px, 2vw, 18px);

}
/* Global */
html{ scroll-behavior: smooth; /* scroll-padding-top: 30vh; */ }
body{overflow-x: hidden; background-color: var(--color-body-bg);}

*{margin: 0px;padding: 0px; box-sizing:border-box; font-family:var(--font-family);
/* -webkit-appearance: none;-moz-appearance: none; appearance: none; */
 -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
         transition: all 0.4s;
}
/* End Global */

/* Headings */
h1{ color: var(--sportive-clr2); font-size: var(--h1-size); font-weight: 700; line-height: normal;}
h2{color: var(--sportive-clr2); font-size: var(--h2-size); font-weight: 700; line-height: normal;}
h3{color: var(--sportive-clr2); font-size: var(--h3-size); font-weight: 700; line-height: 30px; }
h4, h5, h6{color: var(--sportive-clr2); font-size: var(--h4-size); font-weight: 700; line-height: 30px; }

/* Paragraphs */
p{ color: #272D3C; font-size: var(--p1-size); font-weight: 400; line-height: 30px;  -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto;}

/* Links */
a{ color: var(--a-clr); background-color: var(--a-bg-clr); font-size: var(--a-size); font-weight: 600; line-height: 24px; -moz-text-decoration-line: none; text-decoration-line: none; }
a:hover{background-color: var(--a-bg-clr-hov);}
a:focus { outline: unset!important; outline-color: unset!important; outline-style: unset!important; outline-width: unset!important; outline-offset: unset!important; }
button{color: var(--color-btn);}


/* Default classes */
.error{color: rgb(129, 1, 1);}
.success{color: rgb(2, 82, 2); margin-top: 16px;}
.hide{display: none;}
.show{display: flex!important;}
.default-overlay{position: absolute;height: 100%;width: 100%;background-color: rgba(0, 0,0,0.5);z-index: 1;}
.default-popup{ display: none;position: fixed;top: 0; min-height: 100vh;width: 100vw; }

/* Default Main Container Classes */
.w-100{ margin:var(--default-margin); display: flex; justify-content:center; align-items:center;  width:100%; position:relative;}
.default-container-size{width: var(--default-container-size); margin: auto;}

@media screen and (max-width:550px){
    .default-container-size{flex-wrap: wrap;} .default-text-center{text-align: justify; text-align-last: center}
}

/* End Default Main Container Classes */


/* Some Hacks */
/*
* with this property if the div wrap then it will automatically occopy all the space
* width:max(30%,30vh);  
* For in the container c
* clip-path: polygon(0% 0%, 85% 0%, 100% 20%, 100% 100%,0% 100%);
* For Play Button icon content: "\f100";
*/



/* 1. If You want to remove autofill colors on all input filleds */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
}





/* Margin between Sections min(100px,20vh); */
/* margin between h2 and section min(60px,10vh); */