/** 
* All the general styles goes here
* Modred Styles
* 
*/

/* Modred Styles */
h3.default-text-center:hover{font-size: 70px;}

.modren-buttons{width: 100%; background-color: rgb(39, 44, 49);display: flex; justify-content:space-between; width:100%;align-items: center;}

/* For Button 1 */
span.button-with-angle{ max-width: 150px;padding-left: 20px;overflow: hidden;border-radius: 7px;}
span.button-with-angle:hover{transform: scale(1.05);}

a.anchar-tag{background-color: tan;width: max-content; padding: 10px 40px 10px 20px;transform: skewX(-35deg);border-radius: 7px;}
a.anchar-tag span{transform: skewX(35deg);}

/* For Button 1 */
span.button-with-angle-2{width: 150px;padding-right: 20px; overflow: hidden;border-radius: 7px;}
span.button-with-angle-2:hover{transform: scale(1.05);}
a.anchar-tag-2{background-color: aliceblue;padding:  10px; margin-left: -15px; transform: skewX(35deg);border-radius: 7px;}
a.anchar-tag-2 span{transform: skewX(-35deg);width: 80%;} 

/* End Modred Styles */



/*^
* Media Queries Break Points
*/
@media screen and (max-width:1920px){}
@media screen and (max-width:1440px){}
@media screen and (max-width:1366px){}
@media screen and (max-width:1024px){}
@media screen and (max-width:768px){}
@media screen and (max-width:550px){}
@media screen and (max-width:425px){}
@media screen and (max-width:375px){}
/* 
* Some Usefull Very Usefull Properties For Responsive
^ 
* Nesting => nav{ & ul{ & li{} } }
* aspect-ratio:width/height; aspect-ratio:1/2; aspect-ratio:2/1;
* calc()
* min(): min(50%, 500px) => min(50%, max(50%, 500px))
* max(): max(50%, 500px) => max(50%, min(50%, 500px))
* clamp(): clamp(minValue, preferValues-ValueRotateBetweenThese, maxValue)
* abs(): Always Give positive number
* trnsition: all 0.3s
* ---
* transform: skew(), skewX() skewY()
* transform: scale(), scaleX() scaleY()
* transform: translate(), translateX() translateY()
* transform: matrix()
* 
* 
* ---
* 
* e.g: font-size: clamp(minValue, preferValue, maxValue) => h1{font-size: clamp(25px, 5vw, 88px)}
* h1{width:fit-content(100px)}: It will try to fit the contetnt in 100px space
* grid-template-rows:repeat(2, min-content);
* 
*/